<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenhao.mybatisstudydemo.mapper.UserMapper">
    <select id="findAllUser" resultType="com.wenhao.mybatisstudydemo.enity.User">
        select * from user
    </select>
    <select id="findByUserId" parameterType="java.lang.Long" resultType="com.wenhao.mybatisstudydemo.enity.User">
        select * from user where id =#{id}
    </select>


</mapper>